[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*

# Ignore NCrunch cache files.
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution

# Ignore test output
TestResult.xml

# Ignore NuGet package files.
*.nupkg
Package/EasyNetQ/lib
Package/EasyNetQ.Management.Client/lib

*.userprefs
test-results

# NuGet Packages Directory
packages

# Ignore NuGet binary
Source/.nuget/NuGet.exe