[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*
*.orig

# Ignore NCrunch cache files.
*.crunchproject.local.xml
*.crunchsolution.local.xml
*.ncrunchproject
*.ncrunchsolution

# Ignore test output
TestResult.xml

# Ignore NuGet package files.
*.nupkg
Package/EasyNetQ/lib
Package/EasyNetQ.Management.Client/lib
Package

*.userprefs
test-results

# NuGet Packages Directory
packages

# Ignore NuGet binary
Source/.nuget/NuGet.exe

#.NET core
*.dg
*.lock.json

# VS2015
.vs/

# NuGet v3's project.json files produces more ignoreable files
*.nuget.props
*.nuget.targets