version: 1.0.{build}

branches:
  only:
  - master
  
configuration: Release

platform: Any CPU

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'
  assembly_informational_version: '{version}'
  
before_build:
- cmd: nuget restore Source\EasyNetQ.sln

build:
  project: Source\EasyNetQ.sln
  parallel: true
  verbosity: minimal
  
artifacts:
- path: Source\EasyNetQ\bin\Release\EasyNetQ.dll
  name: EasyNetQ
- path: Source\EasyNetQ\bin\Release\EasyNetQ.xml
  name: EasyNetQ