image:
  - Visual Studio 2017

pull_requests:
  do_not_increment_build_number: true

test: off

build:
  project: Build\EasyNetQ.proj
  verbosity: minimal
  publish_nuget: false

branches:
  only:
  - master
  - develop
  - feature/*

artifacts:
  - path: Package\**\*.nupkg

deploy:
  - provider: NuGet
    artifact: /.*\.nupkg/
    server:
    api_key:
      secure: ejD7WLs3aqlXgHLyWq444QK6pnMT6g/QiRxptqIGaOgKvGM7SJ17r/QH6e1jEJ9M
    skip_symbols: true
    on:
      branch: master
  - provider: NuGet
    artifact: /.*\.nupkg/
    server:
    api_key:
      secure: ejD7WLs3aqlXgHLyWq444QK6pnMT6g/QiRxptqIGaOgKvGM7SJ17r/QH6e1jEJ9M
    skip_symbols: true
    on:
      branch: develop
  - provider: NuGet
    artifact: /.*\.nupkg/
    server:
    api_key:
      secure: ejD7WLs3aqlXgHLyWq444QK6pnMT6g/QiRxptqIGaOgKvGM7SJ17r/QH6e1jEJ9M
    skip_symbols: true
    on:
      branch: /release\/.+/
  - provider: NuGet
    artifact: /.*\.nupkg/
    server: https://www.myget.org/F/easynetq-unstable/api/v2/package
    api_key:
       secure: +0aKxcCHqWvvdJxA4dh1ToRqwA6x8yqhfrYDIeOjQu6Skpg/UrwxAPBik8z6be99
    skip_symbols: true
    on:
      branch: /feature\/.+/

skip_commits:
  files:
  - .gitattributes
  - .gitignore
  - README.md
  - build.bat
  - hall_of_fame.md
  - licence.txt
  - DatabaseScripts/*

skip_tags: true