pull_requests:
  do_not_increment_build_number: true

build:
  project: Build\EasyNetQ.proj
  verbosity: minimal
  publish_nuget: false

branches:
  only:
  - master

artifacts:
  - path: Package\**\*.nupkg

deploy:
  - provider: NuGet
    artifact: /.*\.nupkg/
    server:
    api_key:
      secure: ejD7WLs3aqlXgHLyWq444QK6pnMT6g/QiRxptqIGaOgKvGM7SJ17r/QH6e1jEJ9M
    on:
      branch: master

skip_commits:
  files:
  - .gitattributes
  - .gitignore
  - README.md
  - build.bat
  - hall_of_fame.md
  - licence.txt
  - DatabaseScripts/*