<?xml version="1.0" encoding="utf-8"?>

<packages>
    <package id="EasyNetQ.Management.Client" version="0.51.3.116" targetFramework="net47" />
    <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net47" />
    <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
    <package id="RabbitMQ.Client" version="5.0.1" targetFramework="net47" />
</packages>