<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="6.0.5" targetFramework="net40-Client" />
  <package id="RabbitMQ.Client" version="3.4.0" targetFramework="net40-Client" />
  <package id="ReadOnlyCollectionInterfaces" version="1.0.0" targetFramework="net40-Client" />
  <package id="System.Collections.Immutable.Net40" version="1.0.30.17" targetFramework="net40-Client" />
</packages>