<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ.Management.Client" version="0.47.11.35" targetFramework="net40" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="NUnit" version="2.6.3" targetFramework="net40" />
  <package id="RabbitMQ.Client" version="3.5.6" targetFramework="net40" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net40" />
</packages>