<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <solution>
        <add key="disableSourceControlIntegration" value="true" />
    </solution>
    <packageSources>
        <add key="EasyNetQ Unstable" value="https://www.myget.org/F/easynetq-unstable/api/v3/index.json" />
    </packageSources>
</configuration>