<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="rabbit" connectionString="localhost"/>
  </connectionStrings>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!-- 
      This config value is neccessary to ensure that dependent assemblies of sagas can be loaded by the 
      SagaHost app domain.
      -->
      <probing privatePath="Sagas" />
    </assemblyBinding>
  </runtime>
</configuration>
