<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="monitor" type="EasyNetQ.Monitor.MonitorConfigurationSection, EasyNetQ.Monitor" />
    </configSections>

    <monitor intervalMinutes="1">
        <brokers>
            <add managementUrl="http://localhost" username="guest" password="guest" />
        </brokers>
        <checkSettings
            alertQueueCount="100"
            alertConnectionCount="100"
            alertChannelCount="100"
            />
    </monitor>
</configuration>