<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.5.2" targetFramework="net45" />
  <package id="Net.Autofac" version="0.1.10.0" targetFramework="net45" />
  <package id="Net.Core" version="0.1.10.0" targetFramework="net45" />
  <package id="Serilog" version="2.1.0" targetFramework="net451" />
  <package id="Serilog.Sinks.ColoredConsole" version="2.0.0" targetFramework="net451" />
</packages>