<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <connectionStrings>
    <add name="rabbit" connectionString="host=localhost"/>
    <add name="mongodb" connectionString="mongodb://localhost:27017/?w=1&amp;readPreference=primary&amp;uuidRepresentation=csharpLegacy"/>
  </connectionStrings>

  <appSettings>
    
    <add key="subscriptionId" value="Scheduler"/>

    <!-- How long between each pol of the database for messages ready to publish -->
    <add key="publishInterval" value="00:00:05"/>

    <!-- The maximum number of schedule messages to return on each database pol -->
    <add key="publishMaxSchedules" value="1000"/>

    <!-- The mongodb database name to store schedules-->
    <add key="databaseName" value="EasyNetQ"/>

    <!-- The mongodb collection name to store schedules-->
    <add key="collectionName" value="Schedules"/>

    <!-- The message publish timeout-->
    <add key="publishTimeout" value="00:01:00"/>

    <!-- The message delete timeout-->
    <add key="deleteTimeout" value="00:05:00"/>


    <!-- How long between each handle for messages failed to publish-->
    <add key="handleTimeoutInterval" value="00:05:00"/>

    <!-- Enable Legacy Conventions for Rabbit Queues -->
    <add key="enableLegacyConventions" value="false"/>
  </appSettings>

  <log4net>
    <appender name="main" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5level - %message%newline"/>
      </layout>
    </appender>

    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.txt"/>
      <appendToFile value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline"/>
      </layout>
    </appender>

    <root>
      <level value="DEBUG"/>
      <appender-ref ref="main"/>
      <appender-ref ref="FileAppender"/>
    </root>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
