<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0" targetFramework="net461" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net461" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net461" />
  <package id="LightInject" version="4.0.11" targetFramework="net461" />
  <package id="Ninject" version="4.0.0-beta-0134" targetFramework="net461" />
  <package id="NUnit" version="3.4.1" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="4.0.0-rc-1" targetFramework="net461" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="SimpleInjector" version="3.1.5" targetFramework="net461" />
  <package id="StructureMap" version="4.4.0" targetFramework="net461" />
</packages>