<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <system.diagnostics>

        <trace autoflush="true" />

        <sources>
            <source name="System.Net" maxdatasize="1024">
                <listeners>
                    <add name="MyTraceFile"/>
                    <add name="MyConsole"/>
                </listeners>
            </source>
        </sources>

        <sharedListeners>
            <add
              name="MyTraceFile"
              type="System.Diagnostics.TextWriterTraceListener"
              initializeData="System.Net.trace.log"
                />
            <add name="MyConsole" type="System.Diagnostics.ConsoleTraceListener" />
        </sharedListeners>

        <switches>
            <add name="System.Net" value="Information" />
<!--            <add name="System.Net" value="Verbose" />-->
        </switches>

    </system.diagnostics>    
    
</configuration>