<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EasyNetQ.Management.Client" version="0.51.2.115" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net451" />
  <package id="RabbitMQ.Client" version="4.1.1" targetFramework="net451" />
  <package id="Topshelf" version="3.1.4" targetFramework="net451" />
</packages>