<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="rabbit" connectionString="localhost"/>
    <add name="scheduleDb" connectionString="Data Source=localhost;Initial Catalog=EasyNetQ.Scheduler;Integrated Security=SSPI;" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
