name: CI

on:
  push:
    branches:
      - master
      - '[0-9]+.x'
    tags: [ '[0-9]+.[0-9]+.[0-9]+*' ]
  pull_request:
    branches:
      - master
      - develop

permissions:
  contents: read

jobs:
  test:
    name: Lint & Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        dotnet: ['7.*']
      fail-fast: true
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET Core ${{ matrix.dotnet }}
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Install dependencies
      run: dotnet restore ${{ github.workspace }}/Source/EasyNetQ.sln

    - name: Check formatting
      run: dotnet format --no-restore --verify-no-changes --severity warn ./Source/EasyNetQ.sln || (echo "Run 'dotnet format' to fix issues" && exit 1)

    - name: Build
      run: dotnet build ${{ github.workspace }}/Source/EasyNetQ.sln --configuration Release

    - name: Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.Tests
        dotnet test --configuration Release --no-build

    - name: DI.Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.DI.Tests
        dotnet test --configuration Release --no-build

    - name: Serialization.Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.Serialization.Tests
        dotnet test --configuration Release --no-build

    - name: Hosepipe.Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.Hosepipe.Tests
        dotnet test --configuration Release --no-build --filter "(Category!=Explicit)"

    - name: Integration Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.IntegrationTests
        dotnet test --configuration Release --no-build

    - name: Approval Tests
      run: |
        cd ${{ github.workspace }}/Source/EasyNetQ.ApprovalTests
        dotnet test --configuration Release --no-build

  publish-to-nuget:
    name: Publish to NuGet
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup .NET Core ${{ matrix.dotnet }}
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '7.*'
      - name: Install dependencies
        run: dotnet restore ${{ github.workspace }}/Source/EasyNetQ.sln
      - name: Build
        run: dotnet build ${{ github.workspace }}/Source/EasyNetQ.sln --configuration Release
      - name: Pack
        run: dotnet pack ${{ github.workspace }}/Source/EasyNetQ.sln --configuration Release --no-build --include-symbols -p:PackageOutputPath="${{ github.workspace }}/Packages"
      - name: Publish
        run: dotnet nuget push '${{ github.workspace }}/Packages/*.*' --source https://api.nuget.org/v3/index.json --api-key ${{ secrets.NUGET_TOKEN }}
